.comment-data {
  white-space: nowrap;
  text-align: center;
  margin-block-end: 2rem;
}

.comment-data p{
  margin: 0;

}

.comment-data span:nth-of-type(1){
  padding-block-end: .25rem;
  font: var(--body1-bold);
    display: block;
}

.comment-data span:nth-of-type(2){
  font: var(----body1-regular);
  color: var(--grey);
}