.hero-text p:nth-of-type(1){
  font: var(--headline2);
  padding-block-end: 1.5rem;
}

.hero-text p:nth-of-type(2){
  font: var(--body1-regular);
  color: var(--grey);
  padding-block-end: 1.5rem;
}

@media screen and (max-width: 1300px) {
.hero-text p:nth-of-type(1){
  font: var(--headline4);
}

.hero-text p:nth-of-type(2){
  font: var(--body2-regular);
  padding-block-end: 1.5rem;
}



}